BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
UseTab: Never
Standard: c++20
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
AllowShortEnumsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
AlignEscapedNewlines: LeftWithLastLine
SeparateDefinitionBlocks: Always
NamespaceIndentation: None
IndentRequiresClause: false
BreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"([^"]*/)+[^"]*"'
    Priority: 10
    CaseSensitive: true
  - Regex: '^<bixlib/'
    Priority: 20
    CaseSensitive: true
  - Regex: '^<.*/'
    Priority: 30
  - Regex: '^<[^/]*\.h>$'
    Priority: 40
  - Regex: '^<[^/.]*>$'
    Priority: 50
  - Regex: '.*'
    Priority: 60
FixNamespaceComments: true
ShortNamespaceLines: 0
ReflowComments: true
CommentPragmas: '^ [|]|^[|]'
SpacesInLineCommentPrefix:
  Maximum: -1
  Minimum: 1
QualifierAlignment: Left
RemoveBracesLLVM: false
BreakBeforeBinaryOperators: NonAssignment
PackConstructorInitializers: CurrentLine
BreakConstructorInitializers: BeforeComma
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
